*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: #12043c;
    color: rgb(242, 242, 232);
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 2rem;
    
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    gap: 2em;
}


.scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 2em;
}
.score{
    text-align: center;
}
#userScore,
#compScore{
    font-size: 4rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}

img{
    border-radius: 50%;
}

.msgContainer{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
#message{
    padding: 1rem;
    font-size: 2rem;
    background-color: #000000;
    color: aliceblue;
    border-radius: 15px;

}
.win{
    background-color: green;
    
}
